form{
    display:flex;
    flex-direction: column;
   align-items: center;
    margin-top: 30px;
}
.field {
   width:242px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
form > select, form > button, .field > input{
   outline: none;
}
form > select{
    margin: 10px;
}